@charset "UTF-8";

:root {
  --gap: clamp(10px, 1.0417vw, 20px);
  --sec-pd: 5.2083vw 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: pink;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner {
  width: 1492px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  color: #fff;
  padding: 0 3.125%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb {
  display: flex;
}

.gnb li a {
  display: block;
  padding: 10px 24px;
  /* border: 1px solid red; */
  font-weight: 700;
}

.util-menu {
  display: flex;
  gap: 28px;
}

.util-menu > button {
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.util-menu > button img {
  object-fit: contain;
}

.btn-menu {
  display: none;
}

.hero {
  max-width: 1920px;
  aspect-ratio: 16/9;
}

.hero .video {
  width: 100%;
  height: 100%;
}
.hero .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-visual {
  display: none;
}

.best {
  padding: var(--sec-pd);
}

.sec-title {
  /* width: 680px;
  margin: 0 auto;
  background: #5f5; */
  text-align: center;
}

.sec-title h2 {
  font-weight: 700;
  font-size: 40px;
  font-size: clamp(30px, 2.5vw, 40px);
  color: #000;
}
.sec-title p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 32px;
  color: #666;
}

.more {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: #000;
  border-radius: 50px;

  padding: 10px 30px;
  display: inline-block;
  margin-top: 32px;
  transition: 0.4s;
}
.more:hover {
  background: pink;
  color: #fff;
}

.best-list {
  margin-top: 97px;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.best-list li {
  /* width: 484px; */
  /* height: 560px; */
  aspect-ratio: 1/1.157;
  background: pink;
  flex: 1 1 auto;
  flex: 1 1 30%;
}

.best-list li:last-child {
  aspect-ratio: 1/0.4249;
}

.best-list li figure {
  width: 100%;
  height: 100%;
}

.trending {
  padding: var(--sec-pd);
}

.list-title {
  margin-top: 157px;
  margin-top: 8.1771vw;
  font-weight: 700;
  font-size: 30px;
  color: #000;
}

.trending-list {
  margin: 2.6vw 0;
  display: flex;
  /* gap: 5.208333333333333vw; */
  /* clamp(최소값, 추천값, 최대값) */
  gap: var(--gap);
  flex-wrap: wrap;
}

.trending-list li {
  flex: 1 1 45%;
  flex: 1 1 min(484px, 50vw);
}

.apparel {
  padding: var(--sec-pd);
}

.apparel-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.apparel-list li {
  /* flex: 1 1 auto; */
  flex: 1 1 clamp(290px, 358px, 482px);
  aspect-ratio: 1/0.9078;
}

.apparel-list li figure {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 82px 3.125%;
  background: #333;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  text-align: right;
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
}
.footer p + p {
  color: #fff;
  margin-top: 26px;
}

/* .inner 크기에 따른 분기점이 반드시 필요 */
@media (max-width: 1492px) {
  .inner {
    width: 96%;
  }
}
@media (max-width: 1024px) {
  .inner {
    width: 984px;
    width: 96.0938%;
  }

  .gnb,
  .util-menu > button:not(.btn-menu) {
    display: none;
  }
  .btn-menu {
    display: block;
  }
}

@media (max-width: 390px) {
  .inner {
    width: 94.8718%;
  }

  .m-visual {
    display: block;
  }

  .hero {
    aspect-ratio: 3/4;
  }

  .hero .video video {
    display: none;
  }
  .best-list li {
    flex-basis: 100%; /* fxb100p */
    gap: 10px;
  }

  .best-list li:last-child {
    aspect-ratio: 1/1.157;
  }
  .footer {
    flex-direction: column;
    gap: 38px;
  }

  .footer p {
    text-align: center;
  }
}
